.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.result_H {background-color: beige !important;text-align:center; }
.result_A {background-color: lightgrey !important;text-align:center;}
.result_D {background-color: orange !important;text-align:center;}

.points_1 {background-color: lightgrey !important;text-align:center;}
.points_3, .points_4, .points_5 {background-color: greenyellow !important;text-align:center;}

.points_5::after {
  content:" *"
}
.points_4::after {
  content:" +"
}

.result_H::before {
  content:"H   "
}
.result_D::before {
  content:"X   "
}
.result_A::before {
  content:"A   "
}

.subtable {
  display: table;
}
.subtable .row {
  display: table-row;
}
.subtable .header {
  font-weight: bold;
}
.subtable .cell {
  display: table-cell;
  padding: 5px;
}

.subtable .odds_row {
  display: table-row;
  line-height: 10px; 
}
.subtable .odds {
  display: table-cell;
  padding: 5px;
  text-align: center;
}
.subtable .versus {
  display: table-cell;
  padding: 5px;
  text-align: center;
}
.subtable .entry_row {
  display: table-row;
  line-height: 15px; 
}
.subtable .data_row {
  display: table-row;
  line-height: 10px; 
}
.subtable .data_header_row {
  display: table-row;
  line-height: 8px; 
  background-color: pink;
  text-align: center;
}

.odds {
  font-weight: bold !important;
  text-align: center !important;
}
.odds1 {
  background-color: #98fb98 !important;
}
.odds2 {
  background-color: #FFFF99 !important;
}
.odds3 {
  background-color: #FF7F7F !important;
}